.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

.hex,
.rgb {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 10px;
  outline: none;
  border-radius: 10px;
}

.hex {
  font-size: 24px;
  background-color: rgb(255, 255, 255, 0.5);
  color: #000000;
  letter-spacing: 13px;
  border: 1px solid #000000;
}

.rgb {
  font-size: 20px;
  background-color: rgb(0, 0, 0, 0.5);
  color: #ffffff;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
}
