.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

.steps {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  width: 600px;
  height: 600px;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: flex-end;
}

.header label {
  display: block;
}

input::-webkit-inner-spin-button {
  display: none;
}

.result {
  background-color: aqua;
  width: 80%;
  align-self: center;
  margin-top: 50px;
}
